
.thumbs{
    display: none !important;
}
.featured{
    display: flex;
    justify-content: end;
}
.featured .showDiv {
    padding: 16px;
    width: 50%;
    
  }
  .viewParentDiv .showDiv img {
    width: 65vw;
    height:100%;
    object-fit: cover;

  }