.footerParentDiv {
  width: 100%;
  position: relative;
  z-index: 2;
  bottom: 0;
  font-size: small;
 
}
.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b0b5b6;
  color: rgb(15, 14, 14);
  padding: 16px;
  
  
}
.footerParentDiv .content .heading {
  font-size: 20px;
  font-weight: bolder;
}

.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #002f34;
  color: whitesmoke;
  font-size: x-small;
  
}

.footerParentDiv .footer p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}